@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

/* =========================== color =========================== */
.is-fixed-header {
  position: relative; }
  .is-fixed-header .fake-table {
    position: fixed;
    display: none; }
    .is-fixed-header .fake-table .fake-header {
      font-size: 0;
      background: #f6f6f6;
      border: 1px solid #ddd; }
      .is-fixed-header .fake-table .fake-header .fake-header-item {
        font-size: 12px;
        padding: 7px;
        text-align: center;
        font-weight: bold;
        box-sizing: border-box; }
        .is-fixed-header .fake-table .fake-header .fake-header-item + .fake-header-item {
          border-left: 1px solid #ddd; }

.table-item {
  border-collapse: collapse;
  border: none; }

.table-item tr:hover {
  background: #fcf9ef; }

.table-item td,
.table-item th {
  /*vertical-align: top;*/
  border: 1px solid #e1e1e1;
  border-right-width: 0;
  padding: 7px;
  word-break: break-word;
  text-align: center;
  color: #555; }
  .table-item td:last-child,
  .table-item th:last-child {
    border-right-width: 1px; }

.table-item td.ta-l,
.table-item th.ta-l {
  text-align: left; }

.table-item td.ta-r,
.table-item th.ta-r {
  text-align: right; }

.table-item td.pl-20,
.table-item th.pl-20 {
  padding-left: 20px; }

.table-item th {
  border-left: 1px solid #e1e1e1;
  font-weight: bold;
  background: #f6f6f6; }

.table-item a {
  color: #1890FF;
  cursor: pointer; }

.table-item a:hover {
  text-decoration: underline;
  color: #4784d4; }

.pagination {
  float: right;
  overflow: hidden;
  zoom: 1;
  padding: 15px 10px 0 10px;
  font-size: 14px; }

.pagination a {
  border: solid 1px #ddd;
  text-decoration: none;
  color: #8d8d8d; }

.pagination a,
.pagination span {
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 8px;
  text-align: center;
  color: #7b7b7b;
  line-height: 12px; }

.pagination .active {
  border: solid 1px #ddd;
  background: #eee; }

.pagination .active.prev,
.pagination .active.next {
  border-color: #e6e6e6;
  color: #e6e6e6;
  background: #fff; }

.pagination .jumpipt {
  display: block;
  float: left;
  padding: 8px;
  width: 45px;
  font-size: 12px;
  text-align: center; }

.pagination .jumpPage {
  margin-left: 20px;
  border: 1px solid #e6e6e6; }

.pagination .jumpBtn {
  width: 45px;
  height: 33px; }

.pagination .page-info {
  float: left;
  padding: 8px;
  line-height: 12px; }

@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background-color: rgba(100, 100, 100, 0.4); }

.loader .loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -11px; }

@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.ball-spin-fade-loader {
  position: relative; }

.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear; }

.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear; }

.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear; }

.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear; }

.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  animation: ball-spin-fade-loader 1s 0.48s infinite linear; }

.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  animation: ball-spin-fade-loader 1s 0.6s infinite linear; }

.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  animation: ball-spin-fade-loader 1s 0.72s infinite linear; }

.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  animation: ball-spin-fade-loader 1s 0.84s infinite linear; }

.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute; }

.order-list-header .place-time {
  position: relative; }
  .order-list-header .place-time a {
    margin-left: 5px;
    color: #3366FF; }
  .order-list-header .place-time .place-time-inp {
    position: absolute;
    left: 103px;
    right: 0;
    top: 10px;
    bottom: 0; }
  .order-list-header .place-time .operate {
    padding-top: 7px; }

.order-list-header td, .order-list-header tr {
  padding: 10px;
  border: 1px solid #f6f6f6; }

.order-list {
  overflow: hidden; }
  .order-list .order-item {
    text-align: left; }
  .order-list .goods-title {
    line-height: 20px;
    overflow: hidden;
    zoom: 1; }
  .order-list .cor-grey5 {
    color: #b1b2b2; }
  .order-list .bg-blue {
    background: #E9F5FF; }
  .order-list .operate a {
    color: #0033FF;
    display: block; }
  .order-list .total-price {
    color: #FF0000; }
  .order-list .express-type {
    color: #339900; }
  .order-list .table-content {
    text-align: left; }
  .order-list th {
    height: 25px; }
  .order-list tr:hover {
    background: none; }
  .order-list .space {
    background: #fff; }
    .order-list .space td {
      padding: 4px;
      border: none; }
  .order-list .table-item td.lh-18 {
    line-height: 1.8; }
  .order-list .table-item td.ta-l {
    text-align: left; }
  .order-list .order-info-main {
    padding-left: 70px; }
  .order-list .order-img-lay {
    text-align: center; }
    .order-list .order-img-lay .order-img {
      display: table-cell;
      vertical-align: middle;
      width: 60px;
      height: 60px; }
    .order-list .order-img-lay img {
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%; }

.goods-supply-list .operation a {
  margin: 0 5px 5px;
  display: inline-block; }
  .goods-supply-list .operation a:last-child {
    margin: 0; }

.goods-supply-list .sell {
  color: #009966; }

.goods-supply-list .halt {
  color: #ff6600; }

.package {
  position: absolute;
  top: 20px;
  left: 0;
  text-align: center;
  width: 200px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px 10px; }

a {
  cursor: pointer; }

body {
  background: #f3f3f3;
  margin: 0 auto; }

html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
